<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AlpenGepaeck.ch</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="logo-container">
                    <img src="{{ asset('logo.webp') }}" alt="AlpenGepäck Logo">
                </div>
                <nav>
                    <ul>
                        <li><a href="{{ path('home') }}#products">Products</a></li>
                    </ul>
                </nav>
                {{ include('basket/icon.html.twig', {'itemCount': basketItemCount}) }}
                <div class="search-container">
                    <input
                        type="text"
                        name="query"
                        placeholder="Search..."
                        hx-get="/search"
                        hx-trigger="input changed delay:500ms, query"
                        hx-target="#search-results"
                        hx-indicator="#loading-indicator"
                        onfocusout="clearResults()"
                    >
                    <button type="submit">Search</button>
                    <div id="search-results"></div>
                    <div id="loading-indicator" style="display: none;">
                        Loading...
                    </div>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}

        <script>

        function clearResults() {
            setTimeout(
                () => {
                    let searchResults = document.getElementById("search-results");

                    if (!searchResults) {
                        return;
                    }

                    searchResults.innerHTML = "";
                },
                1000,
            );
        }

        </script>

    </body>
</html>
